<!DOCTYPE html>
<html>
    <head><title>Header</title>
        <meta charset="UTF-8">
        <meta name="viewport" content="width=device-width, initial-scale=1.0">
        <meta http-equiv="X-UA-Compatible" content="IE=edge">
        <meta name="robots" content="INDEX,FOLLOW">
        <link rel="stylesheet" href="\static\header.css">
    </head>
    <body>
        <div class="head">
        <div class="row"><img src="\static\logo.jpeg" alt="logo"></div>
        <div class="row">
            <a href="{% url 'home' %}">HOME</a>
            <a href="{% url 'contact' %}">CONTACT US</a>
            <a href="{% url 'register' %}">REGISTER</a>
            <a href="{% url 'login_page' %}">LOG IN</a>
        </div>
        </div>
    
